.main-panel {
   height: 500px;
   // height: 20rem;
   overflow-y: scroll;
}

.list-panel {
   height: 20rem;
   overflow-y: scroll;
}


.teams-multi-col-div {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    height: 200px;
    border: 0;
    margin: 20px;
    // width: 25%;
    // background-size: 200px 200px;
}

// Extra-Small devices (portrait phones, less than 576px)
.item {
    width: 50vw;
 }
 
 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) { 
 .item {
    width: 27vw;
 }
 }
 
 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
 .item {
    width: 30vw;
 }
 }
 
 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {
 .item {
    width: 35vw;
 }
 }
 
 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {
 .item {
    width: 30vw;
 }
 }